$color_filter_header: #0e8cf3;
$color_red: #ff0000;
$color_blue: #0000ff;
$color_yellow: #ffff00;
$color_grey: #808080;
$color_green: #008000;
$color_text: #0f0f13;
$color_purple: #800080;

// fonts
$primary-font-size: 1.5rem;
$large-font-size: 2rem;
$small-font-size: 0.875rem;

//background
$layout_background: #e5e7eb;
$card_background: #ffffff;
